/* *{
margin 0
padding 0
box-sizin :border-box; 
მნიშნელოვანია ყველა საიტის შექმნისას სულ ვიწყებთ ამით
*/

/* 
aligt items y ღეძზე ამოძრავებს და jostifai contenti x ღერძე
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parrent{
    height: 700px;
    width: 700px;
    border: 2px solid red;
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.child{
    width: 20px;
    height: 20px;
    background-color: aqua;
    color: aqua;
    border: 6px solid blue;
}
