div{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 4s ;
    margin: 20px;
}

.div1:hover{
    transition-timing-function: ease;
    transform: translateX(80px);
}


.div2:hover{
    transition-timing-function: linear;
    transform: translateX(80px);
}

.div3:hover{
    transition-timing-function: ease-in;
    transform: translateX(80px);
}


.div4:hover{
    transition-timing-function: ease-out;
    transform: translateX(80px);
}