div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: width 3s, height 3s, background-color 5s;
    background-color: red;
}


div:hover{
    width: 150px;
    height: 150px;
    background-color: blue;
}