@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body{
    height: 100vh;
    background-image: url("bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color:hsl(257, 40%, 49%);
}

.parrent{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    padding: 50px ;
}

.lurji{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;   
    gap: 60px;
}

.same{
    color: white;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.same h1{
    font-size: 45px;
    line-height: 60px;
    font-family: "Poppins", sans-serif;
}

.same p{
    font-family: "Open Sans", sans-serif;
    line-height: 28px;
    font-size: 18px;
}


.same button{
    border-radius: 25px;
    width: 190px;
    height: 55px;
    box-shadow: 0px 0px 5px rgb(56, 56, 56);
    color: hsl(257, 40%, 49%);
    border: none;
    font-size: 18px;
}


.icons{
    display: flex;
    gap: 15px;
    width: 100%;
    flex-direction: row-reverse;
}

.icons img{
    width: 55px;
}

