@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    flex-direction:column ;
    align-items: center;
}
.parrent{
    display: flex;
    flex-direction: column;
    background-image: url("bg.svg");
    background-color: rgb(237, 251, 253);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.child0{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

.child0 button{
    width: 190px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(193, 193, 193);
    font-weight: 900;
    font-family: "Open Sans", sans-serif;
}



.child1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px ;
}

.child1 img{
    width: 750px;
}

.child2{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    font-family: "Poppins", sans-serif;
}

.child2 h1{
    line-height: 65px;
    font-size: 45px;
    font-weight: 600;
}

.child2 p{
    line-height: 24px;

}

.button{
    width: 270px;
    height: 50px;
    background-color: hsl(322, 100%, 66%);
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 500;
}


.parrent2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 25px rgb(234, 234, 234);
    width: 85%;
    padding: 30px 80px;
    margin-top: 100px;
}

.child3 {
    padding-left: 100px ;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "Poppins", sans-serif;
}

.child3 p{
    opacity: 80%;
    line-height: 25px;
    font-size: 16px;
}
.parrent2 img{
    width: 400px;
}


.parrent3{
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0px 0px 25px rgb(234, 234, 234);
    width: 50%;
    height: 200px  ;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin-top: 170px ;
    border-radius: 25px;
}

