*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    background-color: red;
    padding: 50px;
    width: 200px;
    height: 200px;
}

/* .d1{
    background-color: green;
    width: 200px;
    height: 200px;
}

.d2{
    background-color: red;
    margin-top: 10px;
    width: 200px;
    height: 200px;
} */