.first{
    color: green;
    border-radius: 10px;
    background-color: purple;
    color: red;
    box-shadow: 0px 0px 5px purple;
}


.second{
    color: red;
    font-size: 25px;
    background-color: yellow;
    border-radius: 15px ;
    color: purple;
    border: 2px solid blue;
    box-shadow: 0px 0px 5px purple;
}


.mesame{
    color: blue;
    background-color: orange;
    border-radius: 7px;
    color: blue;
    box-shadow: 0px 0px 5px purple orange;

}


.name{
    color: green;
}


.email{
    color: red ;
}

.password{
    color: blue;
}