div{
    width: 400px;
    height: 400px;
}

.one{
    background-image: url("image.png");
    background-repeat: no-repeat;
}

.two{
    background-image: url("image1.png");
    background-repeat: no-repeat;
}
