*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child0{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
}

.grey{
    margin-top: 25px;
    margin-left: 35px;
    
}