/* a:link{
    color: purple;
    text-decoration: none;
    font-family: sans-serif;
    text-shadow: 0px 0px 2px purple;
}

a:visited{
    color: red;
    text-decoration: dotted underline;
    text-shadow: 0px 0px 2px red;
} */

tr:nth-child(even){
    background-color: red  ;
    color: yellow;
    
}

td:nth-child(odd){
     
    color: red;
}

td:nth-child(2){
    color: purple;
}

th:nth-child(2){
    color: purple;
}

td:nth-child(1){
    color: yellow;
}

td:nth-child(3){
    color: yellow;
}

tr:nth-child(odd){
    color: red;
    background-color: aqua;
}

td,th{
    border: 2px solid black;

}


