@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
/* font-family: "Kumbh Sans", sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    background-image: url("bg.svg");
    width: 100%;
}

.child1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.child0{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}