@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Yarndings+20&display=swap');
.c{
    font-family: "Amaranth", sans-serif;
    font-weight: 700;
}

.ccc{
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
}


.cc{
    font-family:"Amaranth", sans-serif;
    font-weight: 500;
}