*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fr{
    color: red;
    text-decoration: line-through green dotted;
}

.gl{
    color: green;
    text-decoration: overline  blue dotted;
}


.dl{
    color: purple;
    text-decoration: line-through overline blue dotted;
}

.gg{
    color: orange;
    text-decoration: line-through  underline double  red;
}