






/* body{
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    background-image: url("image.png");
}

div{
    transform-origin: top right;
    transform: rotate(140deg);
}

div{
    transform-origin: bottom left;
    transform: rotate(245deg);
} */



/* body{
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    background-image: url("image.png");
}

div{
    /* 1 */
    /* transform: rotateX(40deg);

}


div{
    /* 2 */
    /* transform: rotateY(70deg);
}
 */

/* div{ */
    /* 3 */
    /* transform: rotate(75deg);
} */ 
