*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;    
    justify-content: center;
    align-items: center;
     background-color: hsl(47, 88%, 63%);
}




.div{
    border: 2px solid black;
    background-color:hsl(0, 0%, 100%) ;
    height: 560px;
    width: 400px;
    border-radius: 25px;
    box-shadow: 8px 0px 0px black;
}

.div img{
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 10px;
}

.div button{
    background-color: hsl(47, 88%, 63%);
    border-radius: 2px ;
    margin-left: 25px;
    margin-top: 10px;
    font-size: large;
}

.mini{
    margin-top: 12px;
    margin-left: 25px;
    font-weight: 700;
}

.div h1{
    margin-left: 25px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 30px;
}


.minii{
    margin-top: 10px;
    margin-left:  25px; ;
    font-weight: 100;
    color: grey;
}

