div{
    width: 100px; ;
    height: 100px;
}

.div1{
    background-color: red;
    margin:150px;
    border: 5px solid black;
    padding: 14px;
}

.div2{
    background-color: blue;
    margin: 1444px;
    padding:45px;
    border: 2px solid blue;
}


.div3{
    background-color: green;
    padding: 3232px;
    border: 4px solid rebeccapurple;
    margin: 177px;
}