div{
    width: 400px;
    height: 200px;
    border: 2px solid red;
    transition: background-image 5s;

}

div:hover{
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-size: cover;
}