.par{
    width: 500px;
    height: 500px;
    border: 2px solid rgb(249, 0, 0);
    position: relative;
    display: flex;
    flex-direction: row;
}


.par div{
    width: 70px;
    height: 70px;
    position: absolute;
}

.child1{
    
    top: 10px;
    right: 10px;
}

.child2{
    
    top: 420px;
    right: 4px;
}

.child3{
    
    left: 5px;
}

.child4{
    
    top: 420px;
    left: 5px;
}