table{
    border-collapse: collapse;
    border: 2px solid black;
}

/* cal calke klasebit  */

.d{
    background-color: yellow;
}
.a{
    background-color: rgb(151, 102, 13);
}
.t{
    background-color:greenyellow ;
}
.o{
    background-color: rgb(255, 234, 100);
}
.g{
    background-color: pink;
}
.o{
    background-color: rgb(243, 155, 40);
}
.g{
    background-color: red;
}
.a{
    background-color: white;
}
.n{
    background-color: blue;
}
.i{
    background-color: darkkhaki;
}
.k{
    background-color: dimgray
}
.a{
    background-color: rgb(134, 132, 95);
}
.g{
    background-color: grey;
}
.i{
    background-color: brown;
}
.o{
        background-color: rgb(49, 48, 31);
}
