@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap');

.b:link{
    color: green;
    font-weight: 800;
    text-decoration: dashed overline;
}
.b:visited{
    color: orange;
    font-weight: 500;
    font-family:  "Padauk", sans-serif;
    text-decoration: none;
}