table{
    border-collapse: collapse;
    border: 2px solid black;
}

tr:nth-child(1){
    background-color: green;
}

tr:nth-child(3){
    background-color: blue;
}

tr:nth-child(5){
    background-color: blue;
}