div{
    width: 120px;
    height: 120px;
    border-radius:50%;
    animation-name: name;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: row;
    background-color: red;
    transform: translateY(0);
}


@keyframes name{
    from{

    }
    to{
        transform: translateY(-40px);
    }
}

.dv{
    animation-delay: 0s;
}

.dc{
    animation-delay: 0.2s;
}


.dx{
    animation-delay: 0.4s;
}

.dz{
    animation-delay: 0.6s;
}

.dd{
    animation-delay: 0.8s;
}