body{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

div{
    width: 200px;
    height: 200px;
    animation-name: name;
    transform: translateX(0px);
    animation-duration: 3s;
}

@keyframes name{
    from{

    }
    to{
        transform: translateX(90px);
        border: 2px solid black;
        border-radius: 25%;
    }
}

.nig{
    background-color: red;
}

.dig{
    background-color: blue;
    animation-delay: 1s;
}

.jig{
    background-color: green;
    animation-delay: 2s;
}