div{
    width:200px;
    height: 200px;
    background-color: red;
    opacity: 1;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-name: name;
}

@keyframes name{
    from{

    }
    to{
        opacity: 0.3;
    }
}


