div{
    width: 200px;
    height: 200px;
}

.div1{
    background-color: red;
    transform: translateX(300px);
}

.div2{
    background-color: green;
    transform: translateY(150px);
}

.div3{
    background-color: blue;
    transform: translate(100px , -80px);
}