@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: white ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parrent{
    border-radius: 10px ;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 960px;
    
}
h1{
    font-family: "Big Shoulders", sans-serif;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
}
p{
    font-family: "Lexend Deca", sans-serif;
    color: white;
    opacity: 70%;
    line-height: 25px; 
}

button{
    background-color: white;
    border-radius: 25px;
    padding: 15px 30px;
    border: none;
    font-weight: 700;
    margin-top: 80px;
}
.div1{
    background-color:hsl(31, 77%, 52%) ;
    
}



.div2{
    background-color:hsl(184, 100%, 22%) ;
}


.div3{
    background-color:hsl(179, 100%, 13%) ;
}

.parrent div{
    width: 320px;
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 25px;
    font-family: ;
}




/* line-height  ხაზებს შორის დაშორება */
/*  overflow: hidden  ფარავს მის გარეთ მყოფ ელემენიტის ნაწილს  */