*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    body{height: 10000px;}


div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
}
img{
    margin-top: 150px;
    width: 400px;
    height: 400px;
}
