
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  position: relative;
  width: 300px;
  height: 300px;
}


.box {
  width: 150px;
  height: 150px;
  border-radius: 12px; 
  position: absolute;
}


.black {
  background-color: #2c2e33;
  top: 0;
  left: 0;
  z-index: 1;
}


.blue {
  background-color: #1a73e8;
  top: 50px;
  left: 50px;
  z-index: 3; 
}


.green {
  background-color: #1e7e4c;
  top: 100px;
  left: 100px;
  z-index: 2;
}