*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100000px;
}

header{
    background-color: green;
    display: flex;
    justify-content: center;
    position: sticky;
    margin-top: 50px ;
    top: 20px;
    width: 100%;
    height: 150px;
    font-size: 35px;
}