*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    gap: 30px;
}

div{
    height: 200px;
    width: 200px;
}

.zindex1{
    background-color: red;
    position: absolute;
    z-index: 1;

}

.zindex2{
    background-color: blue;
    position: absolute;
    z-index: 2;
}

.zindex3{
    background-color: brown;
    position: absolute;
    z-index: 3;
}

.zindex4{
    background-color: orange;
    position: absolute;
    z-index: 4;
}