    body {
      height: 100vh;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      font-family: Arial, sans-serif;
    }

    .container {
      position: relative;
      width: 300px;
      height: 300px;
    }

    .box {
      position: absolute;
      width: 150px;
      height: 150px;
      color: white;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 70%;
    }

    .first {
      background-color: #ff3ea5;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .second {
      background-color: #1fa2cc;
      top: 40px;
      left: 60px;
      z-index: 2;
    }

    .third {
      background-color: #2e8b22;
      top: 100px;
      left: 30px;
      z-index: 0;
    }