*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(205, 204, 204);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parrrent{
    background-color: white;
    width:500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#img{
    width: 400px;
    height: 400px;
    border-radius: 10px 0px 0px 10px;
}


#img1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 50px;
    margin-right: 10px;
}

#p{
    margin-top: 16px;
    color: rgb(169, 168, 168);
}


.divs{
    display:flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}


.divss{
    display: flex;
    align-items: center;
    
}

