p{
    animation-name: name;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    opacity: 100%;
    color: red;
    animation-direction: alternate;
}

@keyframes name{
    from{}
    to{
        opacity: 50%;
    }
}

