p{
    animation-name: p;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
    transform:  scale(1);
    animation-direction: alternate;
}


@keyframes p{
    from{}
    to{
        transform: scale(1.5);
        
    }

}