div{
    background-color: red;
    width: 200px;
    height: 200px;
   transition: width 1,5s , background-color 2s ,height 3s border-radius 1.5s  transform 6s  ;
}

div:hover{
    background-color: rgb(60, 255, 0);
    border-radius: 50%;
    transform: rotate(180deg);
}