*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color:hsl(275, 100%, 97%) ;
    background-image: url("bg.svg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}