div{
    width: 800px;
    height: 800px;
    border: 2px solid red;
    display: grid;
    grid-template-rows: 150px 100px 100px 150px 300px  ;
    grid-template-columns: 100px 100px 200px 200px 200px ;
}


