div{
    width: 200px;
    height: 200px; 
    background-color: red;
    transition-delay:3s ;
    transition:  font-size 3s, color 5s,border 1s;
}

div:hover{
    
    color: purple;
    border: 2px solid yellow;
    
}