*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
}

.parrent{
    height: 700px;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: purple;
    flex-wrap: wrap;
}
.parrent div{
    height: 200px;
    width: 200px;
}
.child1{
    background-color: red;   

}

.child2{
    background-color: orange;
    border-radius: 25%;
}

.child3{
    background-color: yellow;
    border-radius: 50%;
}