*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 1500px;
}
.par{
   
}
img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30%;
    bottom: 50%;
    position: fixed;
}

