*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;  
    background-color:hsl(244, 29%, 63%) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

